.change_password_section {
  background-color: #e1e1e1;
  margin-top: 50px;
  padding: 50px 10px;
  height: 639px;
}
.change_password {
  box-shadow: 0 10px 15px #cccccc;
  background-color: #fff;
  min-height: 500px;
  margin: 0 auto;
  width: 50%;
}
.change_password_heading {
  background-color: #605bff;
  padding: 10px 0;
}
.change_password_heading h2 {
  text-align: center;
}
.change_password_form {
  padding: 20px 15px;
}
.old_password_feild {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin: 30px 0;
}
.old_password_feild label {
  width: 200px;
}
.change_password_form .old_password_feild input {
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 300px;
  height: 37px;
}
.change_password_btn {
  margin-top: 50px;
}
.change_password_btn button {
  margin-left: 198px;
  width: 200px;
  height: 39px;
}
