.recover_password_section {
  padding: 0 100px;
  display: flex;
  height: 100vh;
}
.recover_password_form_section {
  align-self: center;
  width: 50%;
}
.recover_password_form_section form label {
  padding: 10px 0;
  color: #fff;
  display: block;
}
.recover_password_form_section form input {
  border: 1px solid #ccc;
  border-radius: 0px;
  text-indent: 10px;
  font-size: 15px;
  outline: none;
  width: 300px;
  height: 37px;
}
.recover_password_heading h2 {
  padding-bottom: 80px;
  font-weight: 600;
  font-size: 30px;
}
.recover_password_btn button {
  background-color: #000;
  margin-top: 20px;
  height: 37px;
  width: 300px;
}
.recover_password_img_section {
  align-self: flex-end;
  width: 50%;
  overflow: hidden;
}
.recover_password_img_section img {
  margin-bottom: -190px;
  width: 70%;
}
